---
name: Publish to PyPI

on:
  release:
    types:
      - published

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Setup uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          enable-cache: true
          cache-dependency-glob: pyproject.toml  # We don't have a pdm.lock file, since this project is a library.

      - name: Install Python
        run: uv python install

      - name: Build a source tarball and a binary wheel
        run: uv build --out-dir dist/

      - name: Upload built artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: python-package-distributions
          path: dist/

  publish-to-pypi:
    name: Publish built artifacts to PyPI
    needs: build

    permissions:
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/project/dragonfly-logging-config/

    runs-on: ubuntu-24.04
    steps:
      - name: Download built artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish built artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
        with:
          print-hash: true
          verbose: true
