---
name: Publish to PyPI

on:
  release:
    types:
      - published

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - name: Setup uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4
        with:
          enable-cache: true
          cache-dependency-glob: pyproject.toml  # We don't have a pdm.lock file, since this project is a library.

      - name: Install Python
        run: uv python install

      - name: Build a source tarball and a binary wheel
        run: uv build --out-dir dist/

      - name: Upload built artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: python-package-distributions
          path: dist/

  publish-to-pypi:
    name: Publish built artifacts to PyPI
    needs: build

    permissions:
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/project/dragonfly-logging-config/

    runs-on: ubuntu-24.04
    steps:
      - name: Download built artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53  # v6.0.0
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish built artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
        with:
          print-hash: true
          verbose: true
